body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  background-color: #36383f;
  margin: 0;
  height: 100vh;
}

.menu-bar {
  width: 100%;
  padding: 15px;
  color: #ffffff;
  background-color: #333;
}

.hamburger-menu {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

.disclaimer-text.hide {
  display: none;
}

.msger {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  background: #67686c;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.msger-header-title {
  font-size: 1.2rem;
}

.msger-chat {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.left-msg .msg-bubble {
  border-top-left-radius: 0;
  background-color: #ececec;
}

.right-msg {
  flex-direction: row-reverse;
}

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 8px;
}

.msg-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  color: #999;
}

.msg-text {
  font-size: 1em;
  color: #555;
}

.msger-inputarea {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.msger-input {
  flex: 1;
  border: 0;
  padding: 10px;
  font-size: 1em;
}

.msger-send-btn {
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  font-size: 1em;
}
